<div morph-leave="move-up;duration:250" morph-enter="move-down;duration:250" style="width: 100%;height: 100px; background:#03a9f4"></div>
<div morph-shared="card" class="card">Title: {{ data.selectedCard.title }}</div>

<div class="person-list">
  <div class="person" morph-enter="fade-in;stagger:g2" morph-leave="fade-out;duration:250;stagger:g1">
    <div class="portrait"></div>
    Some Person
  </div>
  <div class="person" morph-enter="fade-in;stagger:g2" morph-leave="fade-out;duration:250;stagger:g1">
    <div class="portrait"></div>
    Some Person
  </div>
  <div class="person" morph-enter="fade-in;stagger:g2" morph-leave="fade-out;duration:250;stagger:g1">
    <div class="portrait"></div>
    Some Person
  </div>
  <div class="person" morph-enter="fade-in;stagger:g2" morph-leave="fade-out;duration:250;stagger:g1">
    <div class="portrait"></div>
    Some Person
  </div>
  <div class="person" morph-enter="fade-in;stagger:g2" morph-leave="fade-out;duration:250;stagger:g1">
    <div class="portrait"></div>
    Some Person
  </div>
</div>
