<div id="root">
  <div class="container">
    <a class="card" style="visibility: visible;">
    <div><h1 class="card-title" data-hero="headline" style="will-change: transform; opacity: 1; visibility: visible;">Zurich</h1></div>
    <div class="card-image" alt="Zurich landscape" data-hero="image"
         style="background-image: url(&quot;./assets/zurich.jpg&quot;); will-change: transform; opacity: 1; visibility: visible;">

    </div>
    <div class="card-footer">
      <span style="will-change: transform; opacity: 1; visibility: visible;">
        <small class="c-white" data-hero="city">Grossmünster</small>
      </span>
      <span style="will-change: transform; opacity: 1; visibility: visible;">
      <small class="c-white" data-hero="meta">47.3769° N, 8.5417° E</small>
      </span>
    </div>
  </a>
    <div class="card-content" >
      <div class="card-content-placeholder" data-hero="bg" style="will-change: transform; opacity: 1; visibility: visible;"></div>
      <div></div>
      <div class="p1"><p class="separator t-left" style="will-change: transform; opacity: 1; visibility: visible;">
        Panorama Grossmünster limmat river</p>
        <ul class="users">
          <li class="users-item"><img data-hero="user1" class="users-image"
                                      src="https://avatars1.githubusercontent.com/u/2729225?s=460&amp;v=4"
                                      alt="brunnolou" style="will-change: transform; opacity: 1; visibility: visible;">
          </li>
          <li class="users-item"><img data-hero="user2" class="users-image"
                                      src="https://avatars3.githubusercontent.com/u/389459?s=460&amp;v=4"
                                      alt="lucalanca" style="will-change: transform; opacity: 1; visibility: visible;">
          </li>
          <li class="users-item"><img data-hero="user3" class="users-image"
                                      src="https://avatars3.githubusercontent.com/u/30113109?s=460&amp;v=4"
                                      alt="florianginetta"
                                      style="will-change: transform; opacity: 1; visibility: visible;"></li>
          <li class="users-item"><img data-hero="user4" class="users-image"
                                      src="https://avatars3.githubusercontent.com/u/1759?s=460&amp;v=4" alt="lejoe"
                                      style="will-change: transform; opacity: 1; visibility: visible;"></li>
        </ul>
      </div>
    </div>
  </div>
</div>
