<div id="root">
  <div class="container">
    <div class="details">
      <div class="details-image" data-hero="image" role="picture" alt="Zurich landscape"
           style="background-image: url(&quot;./assets/zurich.jpg&quot;); will-change: transform; transform-origin: left top 0px; visibility: visible; opacity: 1; transform: translateX(0px) translateY(0px) scaleX(1) scaleY(1) translateZ(0px);"></div>
      <div class="details-title">
        <div class="details-toolbar card-footer">
          <small data-hero="city"
            style="will-change: transform; transform-origin: left top 0px; visibility: visible; opacity: 1; transform: translateX(0px) translateY(0px) scaleX(1) scaleY(1) translateZ(0px);">
            Grossmünster
          </small>
          <small data-hero="meta"
            style="will-change: transform; transform-origin: left top 0px; visibility: visible; opacity: 1; transform: translateX(0px) translateY(0px) scaleX(1) scaleY(1) translateZ(0px);">
            47.3769° N, 8.5417° E
          </small>
        </div>
        <h1 class="card-title" data-hero="headline"
            style="will-change: transform; transform-origin: left top 0px; visibility: visible; opacity: 1; transform: translateX(0px) translateY(0px) scaleX(1) scaleY(1) translateZ(0px);">
          Zurich</h1></div>
      <div class="details-content" >
        <div class="details-content-placeholder" data-hero="bg"
             style="will-change: transform; transform-origin: left top 0px; visibility: visible; opacity: 1; transform: translateX(0px) translateY(0px) scaleX(1) scaleY(1) translateZ(0px);"></div>
        <div class="center l-flex"><span
          style="will-change: transform; transform-origin: left top 0px; visibility: visible; opacity: 1;"> </span>
        </div>
        <ul>
          <li class="users-item" ><img data-hero="user1" class="users-image users-image--lg"
                                      src="https://avatars1.githubusercontent.com/u/2729225?s=460&amp;v=4"
                                      alt="brunnolou"
                                      style="will-change: transform; transform-origin: left top 0px; visibility: visible; opacity: 1; transform: translateX(0px) translateY(0px) scaleX(1) scaleY(1) translateZ(0px);"><span
            style="will-change: opacity; pointer-events: all; opacity: 1;">brunnolou</span></li>
          <li class="users-item"><img data-hero="user2" class="users-image users-image--lg"
                                      src="https://avatars3.githubusercontent.com/u/389459?s=460&amp;v=4"
                                      alt="lucalanca"
                                      style="will-change: transform; transform-origin: left top 0px; visibility: visible; opacity: 1; transform: translateX(0px) translateY(0px) scaleX(1) scaleY(1) translateZ(0px);"><span
            style="will-change: opacity; pointer-events: all; opacity: 1;">lucalanca</span></li>
          <li class="users-item"><img data-hero="user3" class="users-image users-image--lg"
                                      src="https://avatars3.githubusercontent.com/u/30113109?s=460&amp;v=4"
                                      alt="florianginetta"
                                      style="will-change: transform; transform-origin: left top 0px; visibility: visible; opacity: 1; transform: translateX(0px) translateY(0px) scaleX(1) scaleY(1) translateZ(0px);"><span
            style="will-change: opacity; pointer-events: all; opacity: 1;">florianginetta</span></li>
          <li class="users-item"><img data-hero="user4" class="users-image users-image--lg"
                                      src="https://avatars3.githubusercontent.com/u/1759?s=460&amp;v=4" alt="lejoe"
                                      style="will-change: transform; transform-origin: left top 0px; visibility: visible; opacity: 1; transform: translateX(0px) translateY(0px) scaleX(1) scaleY(1) translateZ(0px);"><span
            style="will-change: opacity; pointer-events: all; opacity: 1;">lejoe</span></li>
        </ul>
      </div>
    </div>
  </div>
</div>
